.p-dialog-header {
	background-color: #d4d4d4 !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.p-dialog-footer{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.p-icon {
	font-size: 24px !important;
	width: 20px;
	height: 20px;
	margin: 10px;
}
.p-menuitem-icon {
	margin-right: 10px;
}
.p-menuitem-icon:hover {
	color: red;
}
.p-card-content {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.p-card-body {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.p-dropdown{
	background-color: #efefef!important;
}

